.section-infinite {
  padding-bottom: 40px;
  font-family: "Poppins";
}
.section-title {
  font-size: 2.4rem;
  margin-left: 15px;
  color: rgb(5, 223, 5);
  font-weight: 500;
  text-decoration: underline;
  text-decoration-color: purple;
  margin-top: 4rem;
  margin-bottom: 2rem;
}
@media screen and (min-width: 768px) {
  .section-title {
    font-size: 2.5rem;
    margin-left: 23px;
  }
}
.pagination-wrapper {
  margin-top: 20px;
  display: flex;
  align-items: center;
  width: 100vw;
  justify-content: center;
}
.pagination {
  height: 60px;
  width: 96%;
  display: flex;
  align-items: center;
  margin-top: 20px;
  justify-content: space-between;
  box-shadow: 0px 1px 10px rgba(240,240,240,0.25);
  border-radius: 0.45rem;
}
.previous-page-button,
.next-page-button {
  font-size: 15px;
  outline: none;
  border: none;
  color: white;
  width: 150px;
  background-color: transparent;
}
.btn-pageindex {
  border: none;
  padding: 1rem 2rem;
  border-radius: 0.25rem;
  color: white;
  background: none;
  font-size: 14px;
}
